/.env
/export_sonarqube_config.sh
/import_sonarqube_config.sh
/recreate_custom_profiles.sh
/sec.txt
/.idea/
/.secrets
/github-runner/sql-unit-reports/
/github-runner/unit-report/
/sql-unit-reports/
/unitth/
